
.under-div:focus-within{
border:2px solid #ddd;
border-collapse:collapse;
background-color: rgb(252, 255, 162);
width:"700px"

}
.under-div:focus-within {
  border: 2px solid #ddd;
  border-collapse: collapse;
  background-color: rgb(252, 255, 162);
}


.ledger-list-container {
  width: 70%;
  margin-left: 0%;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.ledger-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.ledger-list-header h2 {
  color: #2c6fbb;
  margin: 0;
}

.add-ledger-btn {
  background-color: #2c6fbb;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 14px;
  font-size: 14px;
  transition: background-color 0.1s;
}

.add-ledger-btn:hover {
  background-color: #36851e;
  cursor:pointer;
}

.ledger-table {
  width: 100%;
  border-collapse: collapse;
}

.ledger-table th,
.ledger-table td {
  border: 1px solid #ddd;
  text-align: left;
  border:none;
}


.ledger-table th {
  background-color: #2c6fbb;
  color: white;
}



.ledger-table tr:hover {
  background-color: #e9f93b;
  cursor: pointer;
}

.ledger-name-link {
  color: #2c6fbb;
  font-weight: bold;
  cursor: pointer;

}

.delete-btn {
  background-color: #51b7fb;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 13px;
  transition: background-color 0.3s;
}

.delete-btn:hover {
  background-color: #b52b27;
}
.ledger-create {
  margin-left: 8px;
  background-color:#3d94ff;
}

.ledger-create:hover {
  background-color: #2f851e;
  cursor:pointer;
}

.home-container{
  text-align: center;
  width: 80%;
  border: 2px solid #ddd;
  border-radius: 8px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.gate-way{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid black;
  height: 50px;
  padding: 10px;
  background-color: #f0f0f0;
  margin-bottom: 20px;
}

.master {
  text-align: left;
  padding: 20px;
  margin: 20px auto;
  width: fit-content;
  cursor: pointer;
}

.master h4 {
  margin: 10px 0;
}

.home {
  text-align: center;
  margin: 20px 0;
}
.transaction {
  text-align: left;
  padding: 20px;
  margin: 20px auto;
  width: fit-content;
}

.stock_group {
  width: 45%;
  margin-top: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}



.dashboard-tables {
 display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-bottom: 30px;
 
}


.dashboard-table {
justify-content: center;
text-align: center;
align-items: center;
padding-top: -50px;
padding-bottom: 5px;
min-width: 200px;
height: 80px;
margin-top: 5%;
cursor: pointer;
border-radius:20px;
}


.dashboard-charts {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  gap:5px;
}

.sales-dashboards{
  display:block;
  
  width:100%;
  justify-content: center;
 align-items: center;
 text-align: center;
 background-color:rgb(255, 254, 253);
 padding: 5px;
  border-radius: 10px;
  margin-top: 15px;
  border-top: 4px solid goldenrod;
  box-shadow: 0 4px 6px rgba(44, 62, 80, 0.1);

}
.d1-chart{
  width:50%;
   margin-left:25%;
  height:300px;
  border-top: 4px solid gold;
  transition: all 0.5s ease;
  border-radius: 10px;
}
.dashboard-table counts{
  align-items: center;
}
.d2-sal:hover{
 background-color: #636363;
  box-shadow: 10px 10px 10px   #000000;
  transform:translateY(-10px) !important;
  background: linear-gradient(135deg,  #636363, #0f0f0f);
}
.total{
  display: inline-block;
  font-weight: 1000;
  font-size: 12px;
}
.tot{
  display: inline-block;
  font-weight: 1000;
  font-size: 12px;
}
.dropdown-menu2{
  cursor: pointer;
}

.counts:hover{
  background-color: #636363;
  box-shadow: 10px 10px 10px   #000000;
  transform:translateY(-10px) !important;
    background: linear-gradient(135deg,  #636363, #0f0f0f);
}
.responsive-box{
  color: #000000;
}
.sales-chart {
   background-color: #ffffff72;
  
}
.d1-chart:hover{
   border-top:6px solid rgb(108, 108, 108);
   background-color:rgb(108, 108, 108);
   box-shadow: 10px 10px 30px  rgb(0, 0, 0);
   transform: scale(1.1) !important;
}

.searches{
  display: flex;
  justify-content: space-evenly;
}

@media(max-width:480px){
.dashboard-tables {
  display: flex;
  justify-content: center;
  gap: 3px;
}
.sales-dashboard{
  display:inline-block;
  width:500px;
 margin-left: 0%;
 width:100%;
 min-width: 300px;
}
}

@media(max-width:768px){
  .sales-dashboard{
  display:inline-block;
  width:500px;
 margin-left: 0%;
 width:100%;
 min-width: 300px;

}
.sales-dashboard:hover{
  transform:translateY(-6px) !important;
}
.searches{
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}
.itemNo{
  width:2% !important;
  margin-right: 5% !important;
}
.name{
  width:10% !important;
  
}
.quantity{
  width:10% !important;
  margin-left: 10% !important;
}
.rate{
  width:10% !important;
}
.amount {
  width:10% !important;
}
.nav-app > button{
display: flex;
width:20% ;
font-size: 13px ;
font-weight: bold;
flex-wrap:wrap;
}
}
@media(max-width:442px){
  .nav-app > button{
   width:15%;
  }
}

@media(max-width:360px){
.searches{
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  min-width: 551.5px;
}

}

@media(max-width:500px){
  .ledger-list-container{
    width:100%;
  }
}
.counts{
  border-radius: 10px !important;
}
.sal{
   border-top: 4px solid #3b82f6;
   flex: 1  1 200px;
   max-width: 230px;
   text-align: center;
   padding: 20px;
   border-radius: 10px;
   color: #fff;
   box-shadow: 0 4px 4px rgba(0, 0, 0, 0.08);
   transition: all 0.5s ease  ;
}
.qs {
  background-color: #ffffff;;
   border-top: 4px solid #10b981;
  flex: 1  1 200px;
  max-width: 230px;
  text-align: center;
  padding: 20px;
  border-radius: 16px;
  color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.08);
  transition : all 0.5s ease;
}
.ta {
  background-color: #ffffff;
   border-top: 4px solid #f59e0b;
    flex: 1  1 200px;
  max-width: 230px;
  text-align: center;
  padding: 20px;
  border-radius: 16px;
  color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.08);
  transition: all 0.5s ease;
}
.tg{
  background-color:#ffffff;
  border-top: 4px solid #8b5cf6;
    flex: 1  1 200px;
  max-width: 230px;
  text-align: center;
  padding: 20px;
  border-radius: 16px;
  color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.08);
  transition: all 0.5s ease;
}

.tl {
  background-color: rgb(255, 255, 255);
  border-top: 4px solid #ef4444;
  flex: 1  1 200px;
  max-width: 230px;
  text-align: center;
  padding: 20px;
  border-radius: 16px;
  color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.08);
  transition: all 0.5s ease;
}

.tsi{
  background-color: rgb(255, 255, 255);
   border-top: 4px solid #06b6d4; 
    flex: 1  1 200px;
  max-width: 230px;
  text-align: center;
  padding: 20px;
  border-radius: 16px;
  color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.08);
  transition: all 0.5s ease;
}

.tsg{
  background-color: rgb(255, 255, 255);
  border-top: 4px solid #6366f1;
   flex: 1  1 200px;
  max-width: 230px;
  text-align: center;
  padding: 20px;
  border-radius: 16px;
  color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.08);
  transition: all 0.5s ease;
}

@media(max-width:360px){
  .ledger-list-container{
    width: 100%;
  }
  .ledger-list-header  h2 {
 color: rgb(23, 119, 255);
 width:120px;
 
  }
  .ledger-list-header > input[type="search"]{
    margin-left: 3% !important;
    width:22%
  }
  .li-sl-hd{
    font-size: large;
  }
  .add-ledger-btn{
     margin-left: 3% !important;
    width:100px;
    font-size: 13px;
    height: 30px;
    display: flex !important;
    justify-content: left !important;
  }
}

.sale-name > input[type="search"]{
  width:10px;
}

@media(max-width:579px){
  .list-sale-date{
    left:25% !important;
    top: 26% !important;
  }
  .list-sale-account{
    left:27% !important;
    top:19% !important;
  }
}
 @keyframes fadeIn{
  0% {
    opacity: 0.2;
    color:rgb(133, 133, 133);
    transform:scale(0.8)
  }
  10% {
   opacity: 1;
   color: rgb(0, 0, 0);
   transform: scale(1)
  }
  100% {
     opacity: 1;
   color: rgb(0, 0, 0);
   transform: scale(1);
  }
 }
 .total > h2 , h2+h3 {
animation-name: fadeIn;
animation-duration: 60s;
animation-iteration-count: infinite;
 }
.tot > h2, h2+h4{
  color:white;
  animation-name: fadeIn2;
animation-duration: 60s;
animation-iteration-count: infinite;
}
 .counts{
   animation-name: fadeIn;
animation-duration: 60s;
animation-iteration-count: infinite;
 }

 @media(max-width:360px){
  .sales-page{
    width:100% !important;
  }
  .sp-pn{
    width:100% !important;
  }
 }
 .hamburger-menu{
  display: flex;
  position:fixed;
  width: 30px;
  height:30px;
  top:3%;
  left:2%;
  border-radius: 50px;
  border: 2px solid black;
  z-index: 1;
  background-color: #cccccc;
 }

 .not-hamburger-menu{
display: flex;
  position:fixed;
  width: 30px;
  height:30px;
  top:3%;
  left:2%;
  border-radius: 5px;
  z-index: 1;
 }

 .responsive-box{
   z-index: 1;
 }

 .home1{
  position: absolute;
  top:8%;
  width:95%;
  border-radius:10px;
  justify-content: center;
  align-items: center;
 }

 .el:hover{
  transform: scale(1.1);
  box-shadow: 3px 3px 3px rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
  background-color: #ffffff7c;
  border-radius: 4px;
 }

 .el{
  transition: all 0.2s ease;
  margin-top: -8%;
  width:60%;
  margin-left: 5%;
  cursor: pointer;
 }

 .mt{
   
  padding-right: 5%;
 }
.gw{
 margin-top: -8%;
  padding-left: 8%;
}
 .down-arrow{
  display: flex;
  position: absolute;
  top:90%;
  left:60%;
}

.dropdown{
border-top:4px  solid rgb(255, 151, 71);
color:rgb(0, 0, 0);
display: flex;
position: fixed;
top:1%;
left:1%;
width:21%;
height: 94%;
background-color: #ffffff;
border-radius: 10px;
box-shadow: 3px 3px 3px black;
justify-content: center;
border-left: 4px solid rgb(255, 151, 71);
}

.div-master{
  display: flex;
  flex-direction: column;
}

.ts{
  margin-top: -8%;
}

.te{
  margin-left: 5%;
}

.dropdown:hover.responsive-box{
  margin-left: 25%;
}

.div-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-menu{
  cursor: pointer;
}

.img{
  width:30px;
  height:30px;
  margin-top: -2px;
}

.span-mn{
  margin-left: 2%;
  margin-top:4%;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
}
.menu-icon{
  font-size: 30px;
transition: all 0.4s ease;
}
.aside-section{
  display: flex;
  position: fixed;
  top:0%;
  left:0.2%;
  width:21%;
  height: 99%;
  border: 2px solid black;
  justify-content: center;
  border-radius: 5px;
  background: linear-gradient(180deg, #1e3a5f 0%, #0b2c4d 100%);
  color:white;
}
.ar-logo{
  width:70px;
  height:60px;
  border-radius: 50%;

  padding :5px;
  margin-top: 8px;
}
.ar-logo:hover{
  transition:all 0.4s ease;
  border:2px solid #000000;
  transform: translateY(-6px);
  box-shadow: 2px 2px 2px black;
  background-color: #ffffff;
  
}
.ase{
  display: flex;
  border: 2px solid black;
  justify-content: center;

}

.ds2-menu{
  display: flex;
  position: fixed;
  top:4%;
  left:0%;
  font-size: 30px;
  border: 2px solid black;
 height:25px;
 padding:0px;
}

.profile{
  text-align: center;
 margin-left: 19%;
 margin-right: 17%;
}

.ds2-nav{
  width:20%;
border: 2px solid black;
}

.gateway2{
  position: absolute;
top:8%;
  width:95%;
  border-radius:10px;
  justify-content: center;
  align-items: center;
}
.dropdown2{
color:rgb(0, 0, 0);
display: flex;
position: fixed;
top:13%;
left:1%;
width:21%;
height: 94%;
justify-content: center;
color: white;
}
.ds2-head{
  display: flex;
 justify-content: center;
 font-size: 30px;
}
.ds2-boxes{
  display: flex;
 flex-wrap: wrap;
  
  gap:15px;

}
.ds2-sidebar2-wm
{
  margin-left: 23%;
}

@media(max-width:573px){
.aside-section{
  display: flex;
  position: fixed;
  top:0%;
  left:0.2%;
  width:21%;
  height: 99%;
  border: 2px solid black;
  justify-content: center;
  border-radius: 5px;
  background-color: #8ae5f9;
  min-width: 220px;
}
.ds2-sidebar2-wm
{
  margin-left: 250px;

}
}
@media(max-width:573px){
  .chart{
  width:100%;
  border:2px solid black;
  margin-bottom: 20px;
  
  align-items: center;
}
.sales-radar{
width: 100%;
height:30%;

}
.sales-dashboard2{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
margin-top: 20px;
width:100%;
min-width: 550px;
}
}
.sales-dashboard2{
display: flex;
 flex-wrap: wrap;
 align-items: center;
 justify-content: center;
 margin-top: 20px;

}

.chart{
  width:60%;
  border:2px solid black;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 4px  4px black;
  align-items: center;
  transition: all 0.2s ease;
}
.chart:hover{
  transform: translateY(-6px);
  background-color: #636363;
}
.sales-radar{
width: 60%;
height:30%;
display: flex;
justify-content: center;
text-align: center;
}
.cn{
  margin-top: 0px;
   background: linear-gradient(90deg, #ffffff9d, #6e6767);
}

.ds2-head{
    background: linear-gradient(90deg, #ffffff9d, #6e6767);
    height: 70px;
    text-align: center;
}

.doughnut{
  width:300px;
}
/* .d2-sal{
background-color:  #1e3a5f;
color: white;
transition: all 0.2s ease;
animation-name: fadeIn2;
animation-duration: 60s;
 animation-iteration-count: infinite;
} */
.d2-sal{
  background-color:  #1e3a5f;
   animation-name: fadeIn;
animation-duration: 60s;
animation-iteration-count: infinite;
}
@keyframes fadeIn2{
  0% {
    opacity: 0.2;
    color:rgb(255, 255, 255);
    transform:scale(0.8)
  }
  10% {
   opacity: 1;
   color: rgb(255, 255, 255);
   transform: scale(1)
  }
  100% {
     opacity: 1;
   color: rgb(255, 255, 255);
   transform: scale(1);
  }
}

.alert{
  position: fixed;
  top:7%;
  left:90%;
  font-size: large;
}

.plus{
  position: absolute;
  left:90%;
}

.el2{
 margin-top: -14px;
   margin-left: 5px;
   width:100px;
}

.entity{
  margin-top: -10px; 
}
.el2:hover{
  transform: scale(1.03);
  transition: all 0.2s ease;
  border:2px solid rgb(0, 0, 0);
  border-radius: 4px;
  box-shadow: 2px 2px black;
  background-color: rgb(151, 5, 255);
  cursor:pointer;
}