


.under-div:focus-within{
border:2px solid #ddd;
border-collapse:collapse;
background-color: rgb(252, 255, 162);
width:"700px"

}



.under-div:focus-within {
  border: 2px solid #ddd;
  border-collapse: collapse;
  background-color: rgb(252, 255, 162);
}


.ledger-list-container {
  width: 80%;
  margin: 10px auto;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.ledger-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.ledger-list-header h2 {
  color: #2c6fbb;
  margin: 0;
}

.add-ledger-btn {
  background-color: #2c6fbb;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 14px;
  
  font-size: 14px;
  
  transition: background-color 0.1s;
}

.add-ledger-btn:hover {
  background-color: #36851e;
  cursor:pointer;
}

.ledger-table {
  width: 100%;
  border-collapse: collapse;
}

.ledger-table th,
.ledger-table td {
  border: 1px solid #ddd;
  text-align: left;
  border:none;
}


.ledger-table th {
  background-color: #2c6fbb;
  color: white;
}



.ledger-table tr:hover {
  background-color: #e9f93b;
  cursor: pointer;
}

.ledger-name-link {
  color: #2c6fbb;
  font-weight: bold;
  cursor: pointer;

}

.delete-btn {
  background-color: #51b7fb;
  color: white;
  border: none;
 
  cursor: pointer;
  font-size: 13px;
  transition: background-color 0.3s;
}

.delete-btn:hover {
  background-color: #b52b27;
}
.ledger-create {
  margin-left: 70px;
  background-color:#3d94ff;
}

.ledger-create:hover {
  background-color: #2f851e;
  cursor:pointer;
}

.home-container{
  text-align: center;
  width: 80%;
  border: 2px solid #ddd;
  border-radius: 8px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.gate-way{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid black;
  height: 50px;
  padding: 10px;
  background-color: #f0f0f0;
  margin-bottom: 20px;
}

.master {
  text-align: left;
  padding: 20px;
  margin: 20px auto;
  width: fit-content;
  cursor: pointer;
}

.master h4 {
  margin: 10px 0;
}

.home {
  text-align: center;
  margin: 20px 0;
}
.transaction {
  text-align: left;
  padding: 20px;
  margin: 20px auto;
  width: fit-content;
}

.stock_group {
  width: 45%;
  margin-top: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}



.dashboard-tables {
  display: flex;
  justify-content: space-evenly;
  flex-wrap:wrap;
  gap: 3px;
}
  

.dashboard-table {
  justify-content: center;
  text-align: center;
  align-items: center;
  border: 2px solid black;
   padding-top: -50px;
  padding-bottom: 5px;
  min-width: 200px;
  height: 80px;
  margin-top: 5%;
  cursor: pointer;
  border-radius:20px;

}

.dashboard-table tr:hover {
  background-color: #e9f93b;
}





.dashboard-charts {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  gap:5px;
}

.sales-dashboard {
  border: 2px solid black;
  background-color: hsl(178, 98%, 66%);;
  padding: 5px;
  border-radius: 10px;
  margin-top: 15px;
}

.sales-dashboard{
  display:inline-block;
  width:500px;
 margin-left: 25%;

}


.dashboard-table counts{
  align-items: center;
}

.total{
  display: inline-block;
  
  font-size: 12px;
  
}

.counts{
  
   background-color: #63fffa;
}
.counts:hover{
  background-color: #9869ff;
  box-shadow: 10px 10px 30px   #9869ff;
}
.responsive-box{
  
  color: #000000;
  
}
.sales-chart {
   background-color: #ffffff72;
  
}
.sales-chart:hover {
   background-color: #c3a7ff90;
  box-shadow: 10px 10px 30px  #b28fff90;
}

.sales-dashboard:hover{
  background-color: #8d58ff;
  box-shadow: 10px 10px 30px  #8d58ff;
}
.searches{
  display: flex;
  justify-content: space-evenly;
  
}

@media(max-width:480px){
.dashboard-tables {
  flex-direction: column;
  gap: 3px;
  
}
.sales-dashboard{
  display:inline-block;
  width:500px;
 margin-left: 0%;
 width:100%;
 min-width: 300px;
}

}

@media(max-width:768px){
  .sales-dashboard{
  display:inline-block;
  width:500px;
 margin-left: 0%;
 width:100%;
 min-width: 300px;
}
.searches{
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  
  
}
}

@media(max-width:360px){
.searches{
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  
  justify-content: left;
  
}
.to {
  margin-left: -10px;
}
}



